/* home.module.css */
.homeContainer {
  text-align: center;
  padding: 20px;
  width: 60%;
}

.homeContainer h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.homeContainer h2 {
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #666;
}

.programmersGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 40px;
}

.programmer {
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
}

.programmer h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.programmer p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.projectSection {
  margin-top: 40px;
  text-align: justify;
}

.projectSection p {
  font-size: 18px;
  line-height: 1.5;
  color: #444;
}
