.form {
  display: grid;
  gap: 1rem;
}

.form label {
  text-align: start;
  font-weight: bold;
}

.select {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  width: 100%;
}

.button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 1rem;
  cursor: pointer;
  border-radius: 0.4rem;
}

.button:hover {
  background-color: #45a049;
}

.form p {
  margin-top: 1rem;
  color: #ff0000;
}
