.card {
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.cardTitle {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.cardText {
  margin-bottom: 0.5rem;
}

/* Media Query for small screens */
@media (max-width: 36rem) {
  .card {
    padding: 1rem;
  }

  .cardTitle {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }

  .cardText {
    margin-bottom: 0.3rem;
  }
}
