.authFormContainer {
  margin-top: 2rem;
}

.authFormContainer h2 {
  margin-bottom: 1rem;
}

.authFormContainer form {
  display: grid;
  gap: 1rem;
}

.authFormContainer input,
.authFormContainer select {
  padding: 0.5rem;
}

.authFormContainer p {
  margin-top: 1rem;
  color: #ff0000;
}

.authFormContainer a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.authFormContainer a:hover {
  color: #0056b3;
}

.authFormContainer button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.authFormContainer button:hover {
  background-color: #0056b3;
}
